*, *:before, *:after {
	box-sizing: border-box;
	position: relative;
}

html, body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
body{
	background: #000;
	height: 100vh;
}

@keyframes foto{
	from{left:-200px;}
	to{left:200px;}
}

.ft-perfil{
	width:95%;
	border-radius:50%;
	animation: foto 5s linear 0s infinite alternate;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
div img {
	width:60px;
}
h1{
	color: white;
}



div{
	animation-name: exemple;
	animation-duration: 5s;
	animation-timing-function: linear;

}